var config = {};

config.slack = {};
config.slack.webhook_url = "https://hooks.slack.com/services/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
config.slack.dev_webhook_url = "https://hooks.slack.com/services/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
config.slack.username = "robot";
config.slack.icon_emoji = ":robot_face:";

config.phonetracker = {};
config.phonetracker.milesRadius = 50;

config.database = {};
config.database.host= "hosthost";
config.database.port = "27017";
config.database.dbname = "DBNAME";
config.database.user = "USER"
config.database.pwd = "ABC123";

config.tags  = ["nyc", "sf", "sunset"];

config.tags_spreadsheet_url = "https://docs.google.com/spreadsheets/ABCDE";

module.exports = config;
